/*-------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
    gap: 40px;
}

.container .cards>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container .cards h2 {
    color: #6AB3FF;
}

.container .cards .time_box {
    border-radius: 8px;
    box-shadow: 0px 8px 25px 2px rgb(0 0 0 / 9%);
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 45px;
    color: #6D6B78;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin-top: 100px;
}

.buttons button {
    transition: 0.3s;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 160px;
    height: 60px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.buttons button:nth-child(2) {

    background-color: #F34571;
    color: #fff;
}

.buttons button:nth-child(2):hover {
    background-color: #e02554;
}

.buttons button:hover:not(:nth-child(2)) {
    background-color: #6D6B78;
    color: #fff;
}

.clock_button {
    background-color: #F34571;
    color: #fff;
    margin: 100px 0;
    width: 200px;
    height: 75px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.clock_button:hover {
    background-color: #e02554;

}

@media (max-width:767px) {
    .buttons {
        gap: 50px;
        width: 350px;
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .clock_button {
        margin: 50px 0;
    }
}

/*-------------------------------------------------------------*/